*{
    margin: 0;
    padding: 0;
}
.box{
    display: inline-block;
    width: 32%;
    height: 500px;
    position: relative;  
}
img{
    width: 100%;
    height: 100%;
    position: absolute;
}
 .box:hover .box2{
    background-color: rgba(244, 98, 58, 0.9);
    transition:  all .3s ease;
     width: 100%;
    height: 100%; 
     position: absolute;
    visibility:visible;
    color: #fff;
}
.box2{
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}
h2{
    margin-top: 100px;
    text-align: center;
}
h1{
    text-align: center;
}