 main{
     font-family: $headerfontfamily;
     
 #future{
    position: relative;
    z-index: 99;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px 0px ;
    font-family: $headerfontfamily;
    .col-12{
       
       h5{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        text-decoration: none;
        letter-spacing: 0.1px;
        
        /* primary-color */
        
        color: $headergreen;
    }
    h2{
        font-style: normal;
font-weight: 700;
margin: 40px 0px;
font-size: 58px;
line-height: 80px;
/* or 138% */

text-align: center;
letter-spacing: 0.2px;

/* text-color */


color:$headertextcolor;
    }
    h4{
        font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */

text-align: center;
letter-spacing: 0.2px;

/* second-text-color */

color: $secondtexcolor;
margin-bottom: 40px;
    }
    .link1{
        @include linkbuttton ($headergreen,$mainwhite)
    }
    .link2{
        @include linkbuttton ($mainwhite,$headergreen)
    }
}
}
#icons{
    .col-12{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 80%;
    margin: 0 auto;

}
}
#quick{
    padding: 100px 0px;
    .container{
        width: 80%;
        margin: 0 auto;
    }
    
    .row{

    
    .quick-top{
        text-align: left;
        h6{
            /* h6 */


font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.2px;

/* primary-text-color */

color: $headergreen;

        }
        h2{
            font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
/* identical to box height, or 125% */

letter-spacing: 0.2px;

/* text-color */
margin: 10px 0px;
color: $headertextcolor;
        }
        p{
            font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.2px;

/* second-text-color */

color: $secondtexcolor;
        }
    }
}
}

}
#card3{
    background-color: $headergreen;
   .card{
       h5{
        color: $mainwhite;
       }
       p{
        color: $mainwhite;
       }
   
   }
}
.cards{
    display: flex;
// justify-content: space-between;
.card2{
    padding: 30px;

    background: $mainwhite;
    margin-top: 80px;
/* accentued-drop-shadow */
margin-left: 30px;
box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
text-align: left;
padding: 25px 35px;

h5{
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.1px;

/* text-color */

color: $headertextcolor;
}
.hr{
    width: 50px;
height: 2px;
margin: 20px 0px;

/* danger-color */

background: #E74040;
}
p{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.2px;

/* second-text-color */

color: $secondtexcolor;
}

 }

}
#health{
    padding: 100px 0px;
    background-color: #EFF8ED;
    .container{
        width: 80%;
        margin: 0 auto;
    }
    
    .row{

    
    .health-top{
        text-align: left;
        h6{
            /* h6 */


font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.2px;

/* primary-text-color */

color: $headergreen;

        }
        h2{
            font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
/* identical to box height, or 125% */

letter-spacing: 0.2px;

/* text-color */
margin: 10px 0px;
color: $headertextcolor;
        }
        p{
            font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.2px;

/* second-text-color */

color: $secondtexcolor;
    }
    }
}
}